* {
    margin-top: 0;
}

nav {
    text-align: right;
}

nav > ul {
    
    margin-top: 0;
    padding-bottom: 10px;
    list-style-type: none;
    background-color: #E6FAFF;
    position: relative;
}
nav > ul > li {
    display: inline;
    padding: 30px 30px 30px 30px;
    float: right;
    
}

nav > ul > li > a {
    text-decoration: none;
    color: #6B97B3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

nav > ul > li > a:hover {
    color: #364E59;
}

nav > ul > li > ul {
    position: absolute;
    list-style-type: none;
    display: none;
    padding: 10px 10px 10px 10px;
    width: 75px;
    border-style: black;
    text-align: center;
    transition: 0.5s;
    

}

nav > ul > li > ul > li {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 18px 14px
}

nav > ul > li > ul > li:hover {
    background-color: #f3f3f3;
}

nav > ul > li:hover > ul {
    display: block;
    background-color: #ffffff;
    border: 2px solid black;
    
}

label {
    margin: 0 40px 0 0;
    font-size: 25px;
    line-height: 70px;
    display: none
}

#toggle {
    display: none;
}

/* Block display will not appear with current code below; instead, code is scattered. Toggle also not functioning.... */

@media only screen and (max-width: 738px) {
    .header {
        height: 40px;
        position: relative;
        width: 100%;
        padding-bottom: 20px;

    }

    .header > h1 {
        padding-top: 20px;
    }
    
    label {
        display: block;
        float: right;
        font-size: 2em;
        cursor: pointer;
        width: 25px

    }

    nav > ul {
        text-align: center;
        width: 100%;
        display: none
        

    }

    nav > ul > li > a {
        display: block;
        border-bottom: #364E59;
        margin: 0;
       
        
    }
    
    #toggle:checked + nav > ul {
        display: block;

    }
}