@font-face {
    font-family: "FjallaOne";
    src: url("FjallaOne-Regular.ttf");

}

body {
    margin: 0 0 0 0;
}

.heading {color: #80DDFF;}

#projectHeading1 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
}

#projectHeading2 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
}


#projectHeading3 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
}

.projectHeading {
    text-align: center;
    font-size: larger;
    padding-top: 20px;
}

.projectimage {
    width: 80%;
    height: 60%;
    display: inline-block;
}

.projectlink {
    text-align: center;
}

.projectthumbnail {
    text-align: center;
}

#mainProject iframe {
    max-width: 640px;
    max-height: 480px;
}

.reflection {
    padding-bottom: 50px;
}

.fontI {font-style: italic;
    padding-right: 2px;
}
.indent {text-indent: 50px;}

.paragraph {
    margin: 0px 15px 15px 0px;
    padding: 0px 12px 12px 0px;
}

blockquote {
    padding: 10px 10px 10px 10px;
    
}
.header {
    
    background-color: #E6FAFF;
    grid-column: 1/6;
    height: 75px;
    
}

.header > h1 {
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 2em;
    font-family: 'FjallaOne', sans-serif;
}

footer {
    grid-column: 1/6;
    background-image: url("images/footer-background.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 20% 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

footer img {
    height: 15px;
    padding-left: 15px;
    padding-right: 5px;
    transition: 1s;

}

footer img:hover {
    transform: scale(1.5);
}

#topimage {
    grid-row: 2/3;
    grid-column: 2/5;
    padding-top: 50px;
    text-align: center;

}

#topimage img {
    width: 80%;
    height: 80%;
    display: inline-block;
    margin-top: -15px;
}

#sideimage {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-top: 50px;
}

#sideimage img {
    width: 275px;
    height: 275px;
    padding-left: 60px;
    border-radius: 12px;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #E6FAFF;
}

caption {
    font-size: 1.2em;
}

#resume {
    padding-top: 30px;
}

main {
    grid-row: 2/5;
    grid-column: 2/5;
    font-family: "helvetica", sans-serif;
    font-size: 20px;
    line-height: 1.2;
}

main h3 {
    padding-top: 20px;
}

#mainProject {
    grid-row: 2/5;
    grid-column: 2/5;
    font-family: "helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

#mainAbout {
    grid-row: 2/5;
    grid-column: 3/6;
    font-family: "helvetica", sans-serif;
    font-size: 18px;
    padding-right: 50px;
    
}

#mainHome {
    grid-row: 3/5;
    grid-column: 2/5;
    font-family: "helvetica", sans-serif;
    font-size: 16px;
    margin-top: -100px;
}

#mainProgram {
    grid-row: 2/4
}

#mainHome h3 {
    text-align: center;
}

#mainProgram p {
    font-size: 1.1em;
    padding-top: 15px;
}

#indextext {
    font-weight: bold;
}

form {
    line-height: 2.5;
    font-size: 1.2em;
}

form input {
    background-color: #E6FAFF;
}

form textarea {
    width: 50%;
    height: 75%;
    background-color: #E6FAFF;

}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 5fr 1fr 2fr;
    grid-template-rows: 75px 10fr auto 75px;
    
}



@media screen and (max-width: 350px) { 
    

    #topimage img {
        width: 80%;
        height: 80%;
        display: block;
    }

    #mainHome {
        grid-row: 3/5;
        grid-column: 2/5;
        font-family: "helvetica", sans-serif;
        font-size: 16px;
    }

    #topimage {
        grid-row: 2/3;
        grid-column: 2/5;
    }

    #mainProject {
        grid-column: 2/5;
    }

    .paragraph {
        margin: 0 0 0 0;
        padding: 0 0 0 0
        
    }

}

@media screen and (max-width: 850px) {
    p {
        font-size: 1.2rem;
    }

    #sideimage {
        display: none;
    }
    
    #mainAbout {
        grid-column: 2/6;
    }

    th, td {
        font-size: 1.15rem;
    }

    #mainHome {
        grid-row: 3/5;
        grid-column: 2/5;
        font-family: "helvetica", sans-serif;
        font-size: 16px;
        padding-top: 60px;
    }

    #mainProject {
        grid-column: 2/5;
    }

    .paragraph {
        margin: 0 0 0 0;
        padding: 0 0 0 0
        
    }

}

@page {
    margin: 1in 1in 1in 1in;
}
@media print {

    #navi,
    #menu,
    #mainAbout p a,
    #mainAbout video,
    #sideimage,
    footer img {
        display: none;
    }

    #mainAbout {
        font-family: "georgia", serif;
        font-size: 14pt;
        line-height: 1.3;
        background: none;
        width: 100%;
        grid-column: 1/6;
        grid-row: 2/4;
        margin: 0;
       
    }

    footer {
        position: absolute;
        bottom: 0;
    }

    html, body {
        height: 99%;
        overflow: hidden;
    }

}